:root {
  --HEADER-BGCOLOR: #333;
  --HEADER-COLOR: whitesmoke;
  --GRADIENT-COLOR: rgb(246, 217, 217);
  --BGCOLOR: #e59885;
  --TABLE-BGCOLOR: hsla(0, 0%, 100%, 0.711);
  --FF: "Times New Roman";
  --FS-TEXT: clamp(1rem, 1.8vw, 5rem);
  --FS-H1: clamp(2rem, 3vw, 6rem);
  --FS-H2: clamp(1.8rem, 2.5vw, 6rem);
  --FS-H3: clamp(1.5rem, 2.2vw, 5.8rem);
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  font-family: "Times New Roman";
  background-image: url("/obrazky/Pizza.jpg"),
    linear-gradient(to left, var(--GRADIENT-COLOR), var(--BGCOLOR));
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: var(--FS-TEXT);
}

header {
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  margin-bottom: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0;
}

.header-title-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  gap: 5rem;
  margin: auto;
  width: 66%;
}

.header-content :last-child {
  text-align: center;
}

.logo {
  display: flex;
  width: 25%;
  justify-content: center;
  margin: auto;
}

.logo img {
  width: 200px;
  height: 120px;
}

.button {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 10%;
}

/* Skrytý checkbox na prepínanie navigácie */
#menu-toggle {
  display: none;
}

/* Tlačidlo menu */
.menu-button {
  background-color: white;
  border: 1px solid black;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: var(--HEADER-BGCOLOR);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before {
  transform: translate(-20px, -12px);
}

.menu-icon::after {
  transform: translate(-20px, -12px);
}

/* Efekty pri hoveri na tlačidlo */
.menu-button:hover .menu-icon {
  background-color: transparent;
  transform: rotate(720deg);
}

.menu-button:hover .menu-icon::before {
  transform: translateX(-20px) rotate(45deg);
}

.menu-button:hover .menu-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}

/* Základné štýly pre navigáciu */
nav {
  display: none; /* Na začiatku je navigácia skrytá */
  background-color: hsla(0, 0%, 20%, 0.384);
  padding: 1rem;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  transform-origin: top center;
  animation: showMenu 0.5s ease-in-out forwards;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav li {
  padding: 1.5rem;
  border-top: 1px solid var(--HEADER-COLOR);
}

nav a {
  text-align: center;
  font-size: 110%;
  text-decoration: none;
  color: var(--HEADER-COLOR);
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}

/* Animácia zobrazenia navigácie */
@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Keď je checkbox označený, navigácia sa zobrazí */
#menu-toggle:checked + nav {
  display: block;
}
